<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filrouge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FilRougeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FilRouge">
        <activity
            android:name=".activity.APISearchActivity"
            android:exported="true"
            android:parentActivityName=".activity.ViewGamesActivity"/>
        <activity
            android:name=".activity.AddElement"
            android:exported="true"
            android:parentActivityName=".activity.ViewGamesActivity" />
        <activity
            android:name=".activity.DeleteAccount"
            android:exported="true"
            android:parentActivityName=".activity.ViewGamesActivity" />
        <activity
            android:name=".activity.Search"
            android:exported="true"
            android:parentActivityName=".activity.ViewGamesActivity" />
        <activity
            android:name=".activity.CreateNewAccount"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.GenericTypeDetails"
            android:parentActivityName=".activity.ViewGamesActivity" />
        <activity
            android:name=".activity.MultiAddOnDetails"
            android:parentActivityName=".activity.ViewGamesActivity" />
        <activity
            android:name=".activity.AddOnDetails"
            android:parentActivityName=".activity.ViewGamesActivity" />
        <activity
            android:name=".activity.GameDetails"
            android:parentActivityName=".activity.ViewGamesActivity" />
        <activity
            android:name=".activity.ViewGamesActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>