<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filrouge" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FilRougeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FilRouge" >
        <activity
            android:name=".view.DbObjectDelete"
            android:exported="false"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity
            android:name=".view.APISearchActivity"
            android:exported="false"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity
            android:name=".view.AddElement"
            android:exported="false"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity
            android:name=".view.DeleteAccount"
            android:exported="false"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity
            android:name=".view.Search"
            android:exported="false"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity
            android:name=".view.CreateNewAccount"
            android:exported="false"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.GenericTypeDetails"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity
            android:name=".view.MultiAddOnDetails"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity
            android:name=".view.AddOnDetails"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity
            android:name=".view.GameDetails"
            android:parentActivityName=".view.ViewGamesActivity" />
        <activity android:name=".view.ViewGamesActivity" />
        <activity android:name=".view.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>